html {
  min-height:100%;
  overflow: hidden;
  background: #000;
}
body {
  overflow: hidden;
  min-height:100vh;
  /* background: 
   linear-gradient(rgba(255,0,0,0.2) 0%, rgba(255,154,0,0.2) 10%, rgba(208,222,33,0.2) 20%, rgba(79,220,74,0.2) 30%, rgba(63,218,216,0.2) 40%, rgba(47,201,226,0.2) 50%, rgba(28,127,238,0.2) 60%, rgba(95,21,242,0.2) 70%, rgba(186,12,248,0.2) 80%, rgba(251,7,217,0.2) 90%, rgba(255,0,0,0.2) 100%) 
   0 0/100% 200%; */
   animation: a 50s linear infinite;
}

@keyframes a {
  to {background-position:0 -200%}
}
